<% @users.each do |user| %>
  <section class="user">
    <div class="image">
      <%= main_image(user, 'placeholder.png') %>
    </div>
    <div class="summary">
      <h2>
        <%= link_to "#{user.first_name} #{user.last_name}", user %>
      </h2>
      <p>
        <%= link_to "Show this user", user, class: 'button'%>
      </p>
    </div>
  </section>
<% end %>
