<% @categories.each do |category| %>
  <section class="user">
    <div class="image">
      <%= image_tag 'patient2.jpeg' %>
    </div>
    <div class="summary">
      <h2>
        <%= link_to category.name, category %>
      </h2>
    </div>
  </section>
<% end %>
