<% @categories.each do |category| %>
  <section class="user">
    <div class="image">
      <%= main_image(category, 'hospital_logo.png') %>
    </div>
    <div class="summary">
      <h2>
        <%= link_to category.name, category %>
      </h2>
    </div>
  </section>
<% end %>
