<% if @category.doctors.present? %>
  <% @category.doctors.each do |doctor| %>
    <section class="user-details">
      <div class="image">
        <%= image_tag 'doctor.png' %>
      </div>
      <div class="details">
        <h1><%= link_to "#{doctor.first_name} #{doctor.last_name}", doctor %></h1>
        <p>
          <%= link_to "Back to doctors", doctors_path %>
        </p>
      </div>
    </section>
  <% end %>
<% end %>
